#root {
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.wrapper {
  width: 100vw;
  height: 300px;
  overflow: scroll;
  margin-right: 0px;
  margin-bottom: 0px;
  background: red;
}

.backgroundIMG {
  position: relative;
  font-size: 0;
  width: 1280px;
  height: 800px;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("../public/Images/mogelijk.png");
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
}

.trace {
  stroke: black;
  stroke-width: 2.5px;
}

.transparent {
  fill: transparent;
}
